[submodule "vim/submodules/unite.vim"]
	path = vim/submodules/unite.vim
	url = git@github.com:mrkn/unite.vim.git
[submodule "vim/submodules/zencoding-vim"]
	path = vim/submodules/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim/submodules/operator-camelize.vim"]
	path = vim/submodules/operator-camelize.vim
	url = git://github.com/tyru/operator-camelize.vim.git
[submodule "vim/submodules/vim-operator-user"]
	path = vim/submodules/vim-operator-user
	url = git://github.com/kana/vim-operator-user.git
[submodule "vim/submodules/vim-ruby"]
	path = vim/submodules/vim-ruby
	url = git@github.com:mrkn/vim-ruby.git
[submodule "vim/submodules/vim-coffee-script"]
	path = vim/submodules/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/submodules/blogger.vim"]
	path = vim/submodules/blogger.vim
	url = https://github.com/ujihisa/blogger.vim
[submodule "vim/submodules/mrkn256.vim"]
	path = vim/submodules/mrkn256.vim
	url = git@github.com:mrkn/mrkn256.vim.git
[submodule "vim/submodules/vim-quickrun"]
	path = vim/submodules/vim-quickrun
	url = git://github.com/thinca/vim-quickrun.git
[submodule "vim/submodules/vimproc"]
	path = vim/submodules/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule "vim/submodules/vimshell"]
	path = vim/submodules/vimshell
	url = git://github.com/Shougo/vimshell.git
[submodule "vim/submodules/unite-outline"]
	path = vim/submodules/unite-outline
	url = git://github.com/h1mesuke/unite-outline.git
[submodule "vim/submodules/vim-ref"]
	path = vim/submodules/vim-ref
	url = git://github.com/thinca/vim-ref.git
[submodule "vim/submodules/rdoc.vim"]
	path = vim/submodules/rdoc.vim
	url = git://github.com/ujihisa/rdoc.vim.git
[submodule "vim/submodules/git-vim"]
	path = vim/submodules/git-vim
	url = git://github.com/motemen/git-vim.git
[submodule "vim/submodules/vim-surround"]
	path = vim/submodules/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/submodules/vim-slim"]
	path = vim/submodules/vim-slim
	url = git://github.com/bbommarito/vim-slim.git
