[submodule "vim/submodules/unite.vim"]
	path = vim/submodules/unite.vim
	url = git@github.com:mrkn/unite.vim.git
[submodule "vim/submodules/zencoding-vim"]
	path = vim/submodules/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim/submodules/operator-camelize.vim"]
	path = vim/submodules/operator-camelize.vim
	url = git://github.com/tyru/operator-camelize.vim.git
[submodule "vim/submodules/vim-operator-user"]
	path = vim/submodules/vim-operator-user
	url = git://github.com/kana/vim-operator-user.git
[submodule "vim/submodules/vim-ruby"]
	path = vim/submodules/vim-ruby
	url = git@github.com:mrkn/vim-ruby.git
